* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parent div {
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    flex-basis: 100%;
    margin-bottom: 5px;
}


/* @media (min-width: 1000px) and (max-width:1400px) {
    .parent>div {
        background-color: red;
    }
} */


/*  mobile screes*/

@media (max-width: 767px) {}


/*  small screes*/


/* @media (min-width: 768px) and (max-width:991px) {
    .parent div {
        flex-basis: calc(50% - 10px);
    }
} */

@media (min-width: 768px) {
    .parent div {
        flex-basis: calc(50% - 10px);
    }
}


/*  medium screes*/

@media (min-width: 992px) {
    .parent div {
        flex-basis: calc(25% - 5px);
    }
}


/*  large screes*/

@media (min-width: 1200px) {}


/*  custom media */

@media (max-width: 1199px) {}